body {
    background-color: #bcbcbc;
}
.all-1 {
    margin:30px auto;
    /* margin-left: 300px; */
    background-color: #e9e9e9;
    width: 390px;
    border: 1px #c9c5c5 solid;
}
.all-1 div{
    background-color: #eee;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    /* width: inherit; */
}

.own {

    border:5px red solid;
    outline: 5px black solid;
    
}

.two {
    
    border-width:5px;
    border-color: blue green;
    outline: 5px black solid;
    border-style: solid ;
}

.three {
    border-width: 5px;
    border-style: dashed;
    border-color: red green blue yellow;
    outline: 5px black solid;
}

/*..........................................................*/

.all-2 {
    margin: auto;
}

.all-2 div {
    background-color: rgb(225, 221, 221);
    width: 400px;
    height: 30px;
    margin: 30px auto;
    padding: 20px;
    outline: 20px rgb(225, 221, 221) solid;
}

.own1{
    border-left:8px solid rgb(242, 75, 75);
    
}

.two2{
    border-left:8px solid rgb(230, 37, 165);
    visibility: hidden;
    
}

.three3{
    border-left:8px solid rgb(103, 75, 242);
    
}





/*.........................................................*/


.test1 {
    background-color:#eee;
    display: inline-block;
    padding: 15px;
    margin: 20px;
}
.test3 {
    padding: 10px;
    border: 5px red solid;
    outline: 5px black solid;
    width: 100px;
    text-align: center;
    height: 40px;
}
.test2 {
    border:5px rgb(0, 34, 128) solid ;
}
/* 
span{
    border-top: 5px solid green;
} */