.won,
.two,
.three {
    width: 300px;
    height: 60px;
    margin: 30px auto;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.won,
.three {
    background-color: #EEE;
}

.two:empty {
    background-color: red;
}

.ass2 {
    position: relative;
    width: 300px;
    height: 60px;
    padding: 20px;
    margin: 30px auto;
    background-color: rgb(184, 184, 184);
}
/* 
.ass2::first-letter {
    margin-left: -20px;
    margin-right: -40px;
    background-color: red;
    font-size: 60px;
    color: white;
} */


element.style {
}
.ass2 {
    font-weight: bold;
    position: relative;
    width: 300px;
    height: 25px;
    padding: 40px;
    margin: 30px auto;
    background-color: rgb(184, 184, 184);
    font-size: 18px;
    /* box-sizing: border-box; */
    line-height: 1;
}
user agent stylesheet
div {
    display: block;
}
.ass2::before {
    content: "1";
    position: absolute;
    background-color: red;
    width: 50px;
    height: 70px;
    color: white;
    top: 50%;
    margin-top: -35px;
    left: -25px;
    text-align: center;
    font-weight: bold;
    line-height: 3;
    
}

.all-data {
    background-color: #595959;
    width: 5px;
    height: 80px;
    position: absolute;
    margin-top: 10px;
    left: -4px;
    top: -10px;
}
.shar {
    position: absolute;
    left: -24px;
    top: 50%;
    margin-top: -10px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #595959 transparent transparent;
}

.four {
    font-weight: bold;
    font-size: 17px;
    position: relative;
    width: 500px;
    height: 40px;
    margin: 10px auto;
    background-color: #a4a4a4;
    padding: 20px;
    line-height: .5;
    font-weight: bold;
    font-style: oblique;
    color: #0f0f0f;
}

.name {
    display: inline-block;
    position: absolute;
    background-color: #8e8e8e;
    width: 100px;
    height: 50px;
    left: -133px;
    top: -2px;
    text-align: center;
    line-height: 3;

}


.end {
    width: 500px;
    height: auto;
    margin: 10px auto;
    position: relative;
}

.endall {
    padding: 20px;
    background-color: #cbcbcb;
}

.number {
    position: absolute;
    text-align: center;
    width: 48px;
    line-height: 3.4;
    color: white;
    font-weight: bold;
    height: 60px;
    left: -48px;
    background-color: rgb(255, 118, 13);
}
/* .number::first-letter {
} */

.number1 {
    position: absolute;
    width: 5px;
    height: 60px;
    right: 0;
    color: white;
    background-color: rgb(255, 118, 13);
}